.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  padding-top: 4vh;
}

.mission__label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--green-100);
}

.mission__title {
  margin-top: 12px;
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  color: var(--green-200);
}

.mission__text {
  margin-top: 12px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  text-align: center;
  color: var(--gray-300);
}

.mission__wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 12vh;
}

.mission-card__title {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
  color: var(--green-200);
}

.mission-card__text {
  margin-top: 8px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: var(--green-200);
}
