.pricing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 8vh;
}

.pricing__title {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green-100);
}

.pricing__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  margin-top: 30px;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35%;
  height: 40vh;
  padding: 0 50px;
  background-color: var(--gray-200);
  border-radius: 20px;
  transition: 200ms;
  cursor: pointer;
}

.pricing-card:hover {
  background-color: var(--gray-250);
  transition: 200ms;
}

.pricing-card__title {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: var(--green-200);
}

.pricing-card__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pricing-card__text {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  color: var(--green-200);
}

.pricing-card__button {
  font-size: 28px;
  color: var(--green-200);
  background-color: transparent;
  border: none;
  outline: none;
}

.pricing-card.premium {
  background-color: var(--green-100);
}

.pricing-card.premium .pricing-card__title,
.pricing-card.premium .pricing-card__text,
.pricing-card.premium .pricing-card__button {
  color: var(--white);
}

.pricing-card.premium:hover {
  background-color: var(--green-200);
  transition: 200ms;
}
